.user-card__container {
  margin: 24px auto;
  display: flex;
  flex: 1;
  justify-content: center;
  width: 240px;
  img {
    margin: 0 auto;
    width: inherit;
  }
}

.flip-card {
  background-color: transparent;
  width: 240px;
  height: 240px;
  perspective: 1000px;
  &:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
  z-index: 2;
  h4 {
    font-size: 20px;
    font-weight: normal;
    margin-top: 8px;
  }
}

.flip-card-back {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background-color: #172b38;
  color: white;
  transform: rotateY(180deg);
  z-index: 1;
  padding: 12px;
  p {
    margin: 4px 0;
  }
}